html {
  font-size: 62.5%;
}

.App {
  font-size: 1.6rem;
  width: 1120px;
  margin: 40px auto 0;
  text-align: center;
}


// .outputAreaImg {

//     @for $No from 0 to 10 {
//       &No#{$No} {
//         background: center / contain no-repeat url(../../images/00#{$No}_0.png);
//       }
//     }
//     @for $No from 10 to 100 {
//       &No#{$No} {
//         background: center / contain no-repeat url(../../images/0#{$No}_0.png);
//       }
//     }
//     @for $No from 100 to 803 {
//       &No#{$No} {
//         background: center / contain no-repeat url(../../images/#{$No}_0.png);
//       }
//     }
//   }


// .typeIconListImg {
//   @for $No2 from 1 to 10 {
//     &No#{$No2} {
//       background: center / 40px 40px no-repeat url(../../images/00#{$No2}_4.png);
//     }
//   }
//   @for $No3 from 10 to 100 {
//     &No#{$No3} {
//       background: center / 40px 40px no-repeat url(../../images/0#{$No3}_4.png);
//     }
//   }
//   @for $No5 from 100 to 803 {
//     &No#{$No5} {
//       background: center / 40px 40px no-repeat url(../../images/#{$No5}_4.png);
//     }
//   }
// }
