.contentArea {
  composes: contentArea from "./common/contentArea.module.scss";
}


.inputAreaDesc {
  composes: inputAreaDesc from "./common/inputArea.module.scss";
}
.inputAreaName {
  width: 230px;
}


.outputArea {
  composes: outputArea from "./common/outputArea.module.scss";
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 30px auto 0;
}
.outputAreaList {
  composes: outputAreaList from "./common/outputArea.module.scss";
}
.outputAreaTitle {
  composes: outputAreaTitle from "./common/outputArea.module.scss";
}
.outputAreaDesc {
  composes: outputAreaDesc from "./common/outputArea.module.scss";
}
.outputAreaType {
  composes: outputAreaType from "./common/outputArea.module.scss";
  + .outputAreaType {
    margin-left: 10px;
  }
}
.outputAreaImg {
  composes: outputAreaImg from "./common/outputArea.module.scss";
}


.partnerText {
  font-size: 2rem;
}
.partnerSubText {
  font-weight: bold;
  padding: 0 0.5rem;
}
